h1 {
    font-family: 'sans serif';
    color:#05100a;
}
button{
    font-family: 'sans serif';
    color:white;
    background-color: #090000fb;
}
body{
  
    background-image:url("./images/bg-image.jpg")
}
.textarea{
    background: url("./images/bg-image.jpg");
}